__pycache__
.snakemake
.vscode
.DS_Store
.venv
## Downloaded data and pipeline results
fastq
sra
geno
gbrs_ref
samples
results
processed
images
logs
slurm-*.out
.ncbi
fasterq.tmp*
__marimo__
fips_off
temp*
.cache
.RData
.Rhistory
